$light: #DED599;
$dark: #263782;

body {
	font-family: 'Josefin Sans', sans-serif;	
	background: rgb(242,246,248);
	background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 28%, rgba(181,198,208,1) 63%, rgba(224,239,249,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 28%,rgba(181,198,208,1) 63%,rgba(224,239,249,1) 100%); 
	background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 28%,rgba(181,198,208,1) 63%,rgba(224,239,249,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
}

h1 {
	font-size: 4em;
	font-weight: bolder;
	margin-top: 50px;
	text-align: center;
	background: -webkit-linear-gradient(#06247A, #085463);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	text-align: center;
}

#wrapper {
	width: 80%;
	margin: 100px auto 0px auto;
	box-shadow: 0px 0px 20px 2px black;
}

.table-striped {
	font-size: 1.2em;
	font-weight: bold;

	thead {
		background-color: $dark;
		color: white;
	}
	tbody {
		tr:nth-of-type(odd) {
 			background-color: $light;
 		}
 		tr:nth-of-type(even) {
 			background-color: $dark;
 			color: white;
 		}
 	}
 }

.sorter {
	cursor: pointer;
	transition: all .2s;
	-webkit-animation-delay: 3s;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 2;
}

.sorter:hover {
	text-shadow:1px 1px black,
                2px 2px black,
                3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    color: $light;
}

p {
	display: inline-block;
	margin-bottom: 0px;
}

.seen {
	display: inline;
}

.unseen {
	display: none;
}